#circle circle {
  fill: none;
  pointer-events: all;
 /* -webkit-transform: scale(0.5);*/
  
}

.group path {
  fill-opacity: .5;
}

path.chord {
  stroke: #000;
  stroke-width: .1px;
}

#circle:hover path.fade {
  display: none;
}

text {
	font-size: 12px;
	font-family: Arial;
}