body {
  padding-top: 50px;
  font-size: 1.8em !important;
}

.parallax-window {
  min-height: 1700px;
  background: transparent;
}

section {
  padding-top: 50px;
  padding-bottom: 20px;
}

#intro {
  text-align: center;
  font-family: Courier;

}
