body {
  padding-top: 50px;
  font-size: 1.8em !important;
}

/*.parallax-container {
  height: 500px;
  width: 100%;
}*/

.parallax-container {
  min-height: 1700px;
  width: 100%;
  background: transparent;
  background-size: cover !important;
}

section {
  padding-top: 50px;
  padding-bottom: 20px;
}

#intro {
  text-align: center;
  font-family: Courier;
  margin-bottom: 20px;
}
