body {
  padding-top: 50px;
  font-size: 1.7em !important;
  color: #525252 !important;
}

h2 {
  color: black !important;
}

.parallax-container {
  height: 1700px;
  width: 100%;
  background: transparent;
  background-size: cover !important;
}

section {
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: Courier;
  border-style: groove;
  border-color: gray;
  border-width: 8px;
}

#intro {
  min-height: 40px;
  text-align: center;
  font-family: Courier;
  margin-bottom: 20px;
  color: black !important;
}
